<!--The content below is only a placeholder and can be replaced.-->
<!--
<h1>
  {{ "welcome" | translate }}  {{identity}}
  <img [src]="COUNTRY_UK" (click)="switchLanguage('en')"/>
  <img [src]="COUNTRY_FR" (click)="switchLanguage('fr')"/>
  <img [src]="COUNTRY_DE" (click)="switchLanguage('de')"/>
  <a (click)="logout()">logout</a>
</h1>

<nav>
  <a [routerLink]="['/user']">{{ "search personn" | translate }}</a> |
  <a [routerLink]="['/user/add']">User add</a> |
  <a [routerLink]="['/user/add']">User add</a> |
</nav>
-->
<router-outlet></router-outlet>
